html {
  --accent: #ff6b08;

  // Header
  --header-color-text: #ffffff;
  --header-border-button-color: #000000;
  --error: #ff001b;

  //   main
  --background-color: #ffffff;
  --color-title: #000000;

  //   footer
  --footer-background-color: #f7f7f7;
  --footer-text: #545454;

  //   Modal
  --modal-background-color: #ffffff;
  --params-name: #8c8c8c;
  --border-button-color: #000000;
  --text-color-button: #000000;
  --text-revers-color-button: #ffffff;
}
