html {
  --accent: #ff6b08;

  // Header
  --header-color-text: #ffffff;
  --header-border-button-color: #ffffff;
  --error: #ff001b;

  //   main
  --background-color: #ffffff;
  --color-title: #000000;

  //   footer
  --footer-background-color: #f7f7f7;
  --footer-text: #545454;

  //   Modal
  --modal-background-color: #ffffff;
  --modal-text-color: #000000;
  --modal-white-text-color: #ffffff;
  --params-name: #8c8c8c;
  --span-divider-color: #f7f7f7;
  --button-bg-color: #ffffff;
  --border-button-color: #000000;
  --text-color-button: #000000;
  --text-revers-color-button: #ffffff;
  --backdrop-color: rgba(0, 0, 0, 0.4);
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);

  //   Modal registration
  --registration-modal-input-color: #eee;
  --registartion-btn-border-color: rgba(0, 0, 0, 0.1);
  --registration-modal-title-color: #212121;
  --registration-modal-hover-color: #ff5800;
}

html[data-mode='dark'] {
  --accent: #089cff;

  // Header
  --header-color-text: #c4c4c4;
  --header-border-button-color: #292b2c;
  --error: #ff001b;

  //   main
  --background-color: #000000;
  --color-title: #cfcfcf;

  //   footer
  --footer-background-color: #272e34;
  --footer-text: #d6d6d6;

  //   Modal
  --modal-background-color: #292929;
  --modal-text-color: #b8b8b8;
  --modal-white-text-color: #535353;
  --params-name: #5c5c5c;
  --button-bg-color: #000000;
  --border-button-color: #ffffff;
  --text-color-button: #ffffff;
  --text-revers-color-button: #000000;
  --backdrop-color: rgba(143, 143, 143, 0.4);

  //   Modal registration
  --registration-modal-input-color: #3f3f3f;
  --registartion-btn-border-color: rgba(202, 202, 202, 0.1);
  --registration-modal-title-color: #c5c5c5;
  --registration-modal-hover-color: #089cff;
}
