<footer class="footer-class">
    <div class="container">
    <div class="footer-box">
        &copy; 2022 | All Rights Reserved | Developed with
        <svg class="footer-pic" width="14" height="12">
            <use href="../src/images/symbol-defs.svg#icon-favorite"></use>
        </svg>
        by <span class="line goItStud-js">GoIT Students</span>
        
        <div class="theme-change-btn">
            <p class="text-theme light">Light</p>
            <input type="checkbox" id="toggle-theme"/>
            <label class="theme-cange-label" for="toggle-theme"></label>
            <p class="text-theme dark">Dark</p>
        </div>

        <!-- <div class="change-theme">
            <button type="change-theme">Change theme</button>
            <ul class="change-theme-list visually-hidden"> 
                <li class="change-theme-item light-theme-js">Light</li>
                <li class="change-theme-item dark-theme-js">Dark</li>
                <li class="change-theme-item grey-theme-js">Grey</li>
            </ul>
        </div> -->

        <button class="eng-btn" type="button">Language/Мова</button>
    </div>
</footer>
