<footer class="footer-class">
    <div class="container">
        <div class="footer-box">
            <p class="footer-box-text-js">
                &copy; 2022 | All Rights Reserved | Developed with
                <svg class="footer-pic" width="14" height="12">
                    <use href="../src/images/symbol-defs.svg#icon-favorite"></use>
                </svg>
                by&#xa0;
            </p>
            <span class="line goItStud-js">GoIT Students</span>
        </div>

        <div class="theme-change-btn">
            <div class="light-theme">
                <svg class="icon-sun" width="14" height="14">
                    <use href="./images/symbol-defs.svg#icon-sun"></use>
                </svg>
            </div>
            <input type="checkbox" id="toggle-theme" />
            <label class="theme-cange-label" for="toggle-theme"></label>
            <div class="dark-theme">
                <svg class="icon-moon" width="16" height="16">
                    <use href="./images/symbol-defs.svg#icon-moon"></use>
                </svg>
            </div>
        </div>

        <div class="language-change-btn">
            <div class="usa-language">
                <img class="usa-img" src="./images/country-flag/united-states.png" alt="usa" width="16" height="16" />
            </div>

            <input type="checkbox" id="toggle-language" />
            <label class="language-cange-label" for="toggle-language"></label>

            <div class="uk-language">
                <img class="uk-img" src="./images/country-flag/ukraine.png" alt="ukraine" width="16" height="16" />
            </div>
        </div>
    </div>
</footer>
