<div class="header-bonus-func container">
    <div class="toggle-btn-box">
        <div class="theme-change-btn">
            <div class="light-theme">
                <svg class="icon-sun" width="14" height="14">
                    <use href="./images/symbol-defs.svg#icon-sun"></use>
                </svg>
            </div>
            <input type="checkbox" id="toggle-theme">
            <label class="theme-cange-label" for="toggle-theme"></label>
            <div class="dark-theme">
                <svg class="icon-moon" width="16" height="16">
                    <use href="./images/symbol-defs.svg#icon-moon"></use>
                </svg>
            </div>
        </div>
    
        <div class="language-change-btn">
            <div class="usa-language">
                <img class="usa-img" src="./images/country-flag/united-states.png" alt="usa" width="16" height="16">
            </div>
    
            <input type="checkbox" id="toggle-language">
            <label class="language-cange-label" for="toggle-language"></label>
    
            <div class="uk-language">
                <img class="uk-img" src="./images/country-flag/ukraine.png" alt="ukraine" width="16" height="16">
            </div>
        </div>
    </div>
    <div class="regisration__btn-wrap" data-btn-login-wrap>
        <button 
            type="submit" 
            class="registration__modal-btn header__registration-btn" 
            data-signin-open>Sign In
        </button>
    
        <button 
            type="submit" 
            class="registration__modal-btn header__registration-btn none" 
            data-btn-value-out>Sign Out
        </button>
    </div>
</div>
