<div class="movie-modal" data-movie-modal>
  <div class="movie-modal__backdrop" data-movie-modal-backdrop>
    <div class="movie-modal__container">
      <div class="movie-data" data-actors-modal-open>
      <!-- Movie modal markup -->
      </div>

      <div class="movie-modal__buttons-wrapper">
        <button
          type="button"
          class="movie-modal__button button-watched"
          data-click="addToWached"
          data-action="addById"
          class="movie-modal__button button-watched"
          Add to watched
        </button>
        <button
          type="button"
          data-action="addById"
          class="movie-modal__button button-queue"
        >
          Add to queue
        </button>
      </div>

      <button
        type="button"
        class="movie-modal__close-btn close-btn"
        data-movie-modal-close
      >
        <svg class="close-btn__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
