<div class="actors-modal" data-actors-modal>
  <div class="actors-modal__backdrop" data-actors-modal-backdrop>
    <div class="actors-modal__container">
      <ul class="actors list">
        <!-- <li class="actors__item">
          <a href="" class="actors__link">
            <div class="actors__wrap wrap">
              <img
                class="actors-image"
                src="https://i.pinimg.com/originals/74/3d/b2/743db230d891b47c1d8c66b161111b91.jpg"
                alt=""
              />
            </div>
            <p class="actors__title">Технокряк</p>
            <p class="actors__label">Веб-сайт</p>
          </a>
        </li> -->
      </ul>

      <button
        type="button"
        class="actors-modal__close-btn close-btn"
        data-actors-modal-close
      >
        <svg class="close-btn__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
