<div class="movie-modal" data-movie-modal>
  <div class="movie-modal__backdrop" data-movie-modal-backdrop>
    <div class="movie-modal__container" data-actors-modal-open>
      <!-- <a href="" class="movie-modal__link">
        <div class="movie-modal__image wrapper">
          <img
            class="movie-image"
            src="https://i.pinimg.com/originals/74/3d/b2/743db230d891b47c1d8c66b161111b91.jpg"
            alt=""
          />
          <div class="wrapper__overlay">
            <button type="button" class="wrapper__btn youtube-btn">
              <svg class="youtube-btn__icon" width="92" height="64">
                <use href="./images/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </button>
          </div>
        </div>
      </a>

      <div class="movie-modal__wrapper">
        <div class="data">
          <h2 class="data__title">A FISTFUL OF LEAD</h2>
          <ul class="data__list list">
            <li class="list__item">
              <p class="data__item">Vote / Votes</p>
              <p class="data__info">
                <span class="data__span data__span--orange">7.3</span>
                <span> / </span>
                <span class="data__span data__span--divider">1260</span>
              </p>
            </li>
            <li class="list__item">
              <p class="data__item">Popularity</p>
              <p class="data__info">100.2</p>
            </li>
            <li class="list__item">
              <p class="data__item">Original Title</p>
              <p class="data__info data__info--upper">A FISTFUL OF LEAD</p>
            </li>
            <li class="list__item">
              <p class="data__item">Genre</p>
              <p class="data__info">Western</p>
            </li>
            <li class="list__item">
              <p class="data__item">Actors</p>
              <button type="button" class="data__button">Show me</button>
            </li>
          </ul>

          <p class="data__about">About</p>
          <p class="data__about-text">
            Four of the Wests most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... theyve been double crossed – but by who and how?
          </p>
        </div> -->

        <div class="movie-modal__buttons-wrapper">
          <button
            type="button"
            class="movie-modal__button button-watched"
            data-click="addToWached"
            data-action="addById"
            class="movie-modal__button button-watched"
            Add to watched
          </button>
          <button
            type="button"
            data-action="addById"
            class="movie-modal__button button-queue"
          >
            Add to queue
          </button>
        </div>
      </div>

      <button
        type="button"
        class="movie-modal__close-btn close-btn"
        data-movie-modal-close
      >
        <svg class="close-btn__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
