<div class="actors-modal" data-actors-modal>
  <div class="actors-modal__backdrop" data-actors-modal-backdrop>
    <div class="actors-modal__container">
      <ul class="actors list js-actor-list">
        <!-- Actors modal markup -->
      </ul>

      <button
        type="button"
        class="actors-modal__close-btn close-btn"
        data-actors-modal-close
      >
        <svg class="close-btn__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
