<div class="team-modal">
    <div class="logo-team">logo</div>
    <p class="team-slogan">Або JavaScript нас, або ми його</p>
    <h1 class="team-name">Назва команди</h1>

    <div class="team-info-box">
        <ul class="team-info-list">
            <li class="team-info-list-item">
                <p class="info-caption">Оцінка</p>
                <p class="info-description">10</p>
            </li>
            <li class="team-info-list-item">
                <p class="info-caption">Мова оригіналу</p>
                <p class="info-description">HTML, CSS, JavaScript</p>
            </li>
            <li class="team-info-list-item">
                <p class="info-caption">Країна-виробник</p>
                <p class="info-description">Україна</p>
            </li>
            <li class="team-info-list-item">
                <p class="info-caption">Жанр</p>
                <p class="info-description">Триллер, пригоди, комедія</p>
            </li>
            <li class="team-info-list-item">
                <p class="info-caption">Рік релізу</p>
                <p class="info-description">2022</p>
            </li>
            <li class="team-info-list-item">
                <p class="info-caption">Тривалість</p>
                <p class="info-description">1 тиждень</p>
            </li>
        </ul>
    </div>

    <div class="cast-box">
        <h2 class="cast-title">Cast / У головних ролях</h2>
        <ul class="cast-list">
            <li class="">
                <p class="cast-role">Team lead1</p>
                <!-- додати посилання на гітхаб розробника -->
                <p class="cast-name"><a href="">Name1</a></p>
            </li>
            <li class="">
                <p class="cast-role">Team lead2</p>
                <p class="cast-name">Name2</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead3</p>
                <p class="cast-name">Name3</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead4</p>
                <p class="cast-name">Name4</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead5</p>
                <p class="cast-name">Name5</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead6</p>
                <p class="cast-name">Name6</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead7</p>
                <p class="cast-name">Name7</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead8</p>
                <p class="cast-name">Name8</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead9</p>
                <p class="cast-name">Name9</p>
            </li>
            <li class="">
                <p class="cast-role">Team lead10</p>
                <p class="cast-name">Name10</p>
            </li>
        </ul>
    </div>

    <div class="about-box">
        <h2 class="about-team">About</h2>
        <p class="about-text">
            Колись зорі склались так, що ці люди зібрались разом, щоб створити
            щось надзвичайне. Кожен з них має унікальні здібності, нерозкриті
            таланти та надзвичайні амбіції. Це їхня перша пригода як команди. І
            саме ти, глядачу, маєш унікальну можливість це побачити!
        </p>
    </div>
</div>
