<div class="header--home header--library container">
  <nav class="navigation">
    <div class="navigation__logo">
      <h1 class="logo-name">Filmoteka</h1>
      <a class="navigation__link" href="#"
        ><svg class="movie-tape-svg" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-movie-tape"></use>
        </svg>
      </a>
    </div>
    <div class="navigation__menu">
      <a class="navigation__page navigation__page-home current" href="#"
        >Home</a
      >
      <a class="navigation__page navigation__page-library" href="#">Library</a>
    </div>
  </nav>
</div>
