<nav class="navigation container">
  <div class="navigation__logo">
    <a class="navigation__link" href="#">
      <span class="logo-name">Filmoteka</span>
      <svg class="movie-tape-svg" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-movie-tape"></use>
      </svg>
    </a>
  </div>
  <div class="navigation__menu">
    <a class="navigation__page navigation__page-home current" href="#"
      >Home</a>
    <a class="navigation__page navigation__page-library" href="#"
      >My library</a>
  </div>
</nav>
