<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div id="preloader" class="visible"></div> -->

    <div id="preloader" class="preloader">
      <div class="preloader__loader">
        <div class="loadingio-spinner-rolling-c3zym5625r4">
          <div class="ldio-npm0yy2qly">
            <div></div>
          </div>
        </div>

        <span class="preloade__percents">
                <span id="percents">0</span>%
            </span>
      </div>
    </div>
  </body>
</html>
