.footer-class {
    position: relative;

    background-color: var(--footer-background-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-box {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.36;
    align-items: center;
    text-align: center;
    color: var(--footer-text);
}

.footer-pic {
    margin-left: 10px;
    margin-right: 10px;
    animation: puls 1000ms infinite alternate;
}

@keyframes puls {
    0% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1.5, 1.5);
    }
}

.line {
    text-decoration: underline;
    cursor: pointer;
}

// ------------------------------ї
.theme-change-btn {
    display: flex;
    justify-content: space-between;
    width: 130px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
}

#toggle-theme {
    display: none;
}

.theme-cange-label {
    background-color: var(--background-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    left: 35%;
    display: block;
    width: 40px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.theme-cange-label:before {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid #ff6b08;
}

.theme-cange-label:after {
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    border: 2px solid #000000;
}

.theme-cange-label:before {
    content: '';
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height,
        0.5s ease border-color;
}

.theme-cange-label:after {
    content: '';
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle-theme:checked + .theme-cange-label:after {
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-color: #089cff;
}

#toggle-theme:checked + .theme-cange-label:before {
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-color: #cfcfcf;
}
