.genre-box {
  display: flex;
  align-items: center;
}

.text {
  font-weight: bold;
  color: rgb(55, 49, 49);
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.genre-box-button {
  padding: 16px 0 16px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto, minmax(290px, 1fr));
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.genre__button {
  padding: 10px;
  border-radius: 4px;
  background-color: red;
  min-width: 150px;
}
