.actors-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;

  transform: scale(2);
  transition: opacity var(--transition-cubic) 250ms;
  transition: transform var(--transition-cubic) 400ms;
  z-index: 5;
}

.actors-modal.is-open {
  transform: scale(1);
  opacity: 1;
  pointer-events: initial;
}

.actors-modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.actors-modal__container {
  position: relative;
  overflow-x: auto;
  top: 2%;

  margin: auto;
  background-color: var(--modal-background-color);
  color: var(--modal-text-color);
  max-height: 100vh;
  max-width: 280px;
  padding: 40px 15px 20px 15px;

  @media screen and (min-width: 480px) {
    min-width: 400px;
  }

  @include tablet {
    top: 15%;
    min-width: 600px;
    height: 500px;
    padding: 30px 30px 30px 30px;
  }

  @include desktop {
    min-width: 700px;
    height: 500px;
    padding: 40px 40px 40px 40px;
  }
}

.actors {
  margin: 0 auto;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  @include desktop {
    gap: 15px 11px;
  }
}

.actors__item {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 0;
    flex-basis: calc(100% / 5 - 15px);
  }

  @include desktop {
    flex-basis: calc(100% / 5 - 11px);
  }
}

.actors__wrap {
  height: 80%;
  overflow: hidden;
  border-radius: 8px;
}

.actors-image {
  height: 100%;
  cursor: pointer;

  transform: scale(1) rotate(0deg);
  transition: transform 300ms var(--transition-cubic);

  &:hover,
  &:focus {
    transform: scale(1.1) rotate(3deg);
  }
}

.actors__title {
  margin-top: 10px;

  @include font(500, 15px, 1.13);
  text-align: center;
  text-transform: uppercase;

  color: var(--modal-text-color);

  @include tablet {
    @include font(500, 12px, 1.15);
    margin-top: 10px;
  }

  @include desktop {
    margin-top: 12px;
    line-height: 1.15;
  }
}

.actors__label {
  @include font(500, 15px, 1.33);

  text-align: center;

  color: var(--accent);

  @include tablet {
    @include font(500, 12px, 1.15);
  }
}

.actors-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  margin: 0;

  border: none;
  border-radius: 50%;

  background-color: transparent;
  color: var(--text-color-button);
  outline: none;

  transform: rotate(0deg);
  transition: all var(--transition-cubic) 500ms;

  &:hover,
  &:focus {
    transform: rotate(180deg);
    color: var(--accent);
  }
}

.close-btn__icon {
  fill: currentColor;
}
