.pagination {
    padding: 40px 0;
    @include desktop {
        padding: 60px 0;
    }
}

.pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination-item {
        width: 40px;
        height: 40px;

        border-radius: 5px;
        background-color: inherit;
        color: var(--color-title);
        fill: var(--modal-text-color);

        &.prev {
            margin-right: 5px;
            background-color: var(--footer-background-color);
            background-image: url(../images/pagination/arrow-left.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &.next {
            margin-left: 5px;
            background-color: var(--footer-background-color);
            background-image: url(../images/pagination/arrow-left.svg);
            background-repeat: no-repeat;
            background-position: center;
            transform: scaleX(-1);
        }
    }

    .pagination-button {
        @include font(500, 12px, calc(16px / 12px));
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }

    .active {
        color: var(--background-color);
        background-color: var(--accent);
    }

    span.pagination-item {
        width: 11px;
        padding-bottom: 12px;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
