.pagination {
    padding: 40px 0;
    @include desktop {
        padding: 60px 0;
    }
}

.pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .pagination-item {
        display: flex;
        justify-content: center;
        align-items: center;

        // width: 40px;
        // height: 40px;

        border-radius: 5px;
        background-color: inherit;
    }

    .pagination-button {
        width: 40px;
        height: 40px;
        @include font(500, 12px, calc(16px / 12px));
    }

    .active {
        width: 40px;
        color: var(--background-color);
        background-color: var(--accent);
    }

    & span {
        padding-bottom: 10px;
    }
}