.header-bonus-func {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

// .toggle-btn-box {
//     position: absolute;
//     top: -318%;
//     right: 20px;

//     @include tablet {
//         top: -216%;
//         right: 32px;
//     }

//     @include desktop {
//         top: -216%;
//         right: 32px;
//     }
// }

// ------------------------------ї
.theme-change-btn {
    display: flex;
    justify-content: space-between;
    width: 90px;
    position: relative;
    // margin: 0 auto;
    margin-top: 10px;
}

.icon-sun,
.icon-moon {
    fill: var(--header-color-text);
}

#toggle-theme {
    display: none;
}

.theme-cange-label {
    background-color: var(--registration-modal-input-color);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    right: 0;
    left: 28%;
    display: block;
    width: 40px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.theme-cange-label:before {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid #ff6b08;
    background-color: #ff6b08;
}

.theme-cange-label:after {
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    border: 2px solid #000000;
}

.theme-cange-label:before {
    content: '';
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height,
        0.5s ease border-color;
}

.theme-cange-label:after {
    content: '';
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle-theme:checked + .theme-cange-label:after {
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-color: #089cff;
    background-color: #089cff;
}

#toggle-theme:checked + .theme-cange-label:before {
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-color: #cfcfcf;
    background-color: var(--footer-background-color);
}

// ---------------------------

.uk-img,
.usa-img {
    width: 14px;
    height: 14px;
}

.language-change-btn {
    display: flex;
    justify-content: space-between;
    width: 90px;
    position: relative;
    // margin: 0 auto;
    margin-top: 10px;
}

.language-cange-label {
    background-color: var(--footer-background-color);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    right: 0;
    left: 28%;
    display: block;
    width: 40px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.language-cange-label:before {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--accent);
    background-color: var(--accent);
}

.language-cange-label:after {
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    border: 2px solid var(--color-title);
}

.language-cange-label:before {
    content: '';
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height,
        0.5s ease border-color;
}

.language-cange-label:after {
    content: '';
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle-language:checked + .language-cange-label:after {
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-color: var(--accent);
    background-color: var(--accent);
}

#toggle-language:checked + .language-cange-label:before {
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-color: var(--color-title);
    background-color: var(--footer-background-color);
}
